.dropdown {
	position: relative;
	display: inline-block;
	text-align: left;
  &__title{
    cursor: pointer;
  }
	&__list {
		&__container {
			transform-origin: top;
			position: absolute;
			padding: 10px 0px;
			right: 0rem;
			margin-top: 1rem;
			border-radius: 0.375rem;
			box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
				0 4px 6px -4px rgb(0 0 0 / 0.1);
			background-color: white;
		}
		&__btn {
			background-color: white;
			border: none;
			width: 100px;
			padding: 10px 0 10px;
      cursor: pointer;
			&:hover {
				background-color: #eaeaea;
			}
		}
	}
}

.edit-input {
	border: none;
}

.red {
	color: red;
}

.blue {
	color: blue;
}
